<md-card>
  <i class="material-icons">note_add</i>
  <md-input placeholder="title" [(ngModel)]="newTitle"></md-input>
  <md-input placeholder="deadline" [(ngModel)]="newDeadline"></md-input>
  <md-input placeholder="priority" [(ngModel)]="newPriority"></md-input>
  <button md-button (click)="addNew(newTitle, newDeadline, newPriority)">Add</button>
</md-card>
<ul class="app-list">
 <li *ngFor="let todo of todos">
   <md-card>
     <h3 md-line class="todo-title">{{todo.title}}</h3>
     <p md-line class="todo-deadline">{{todo.deadline}}</p>
     <p md-line class="todo-priority">{{todo.priority}}</p>
     <button md-button (click)="deleteTodo(todo._id)"><i class="material-icons">delete</i></button>
   </md-card>
 </li>
</ul>
